<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="essaiPU" transaction-type="JTA">
    <jta-data-source>jdbc/contrat</jta-data-source>
    <class>com.contrat.entities.Modepayement</class>
    <class>com.contrat.entities.Typeapporteur</class>
    <class>com.contrat.entities.Typecontrat</class>
    <class>com.contrat.entities.Garantie</class>
    <class>com.contrat.entities.Groupe</class>
    <class>com.contrat.entities.Apporteur</class>
    <class>com.contrat.entities.Assures</class>
    <class>com.contrat.entities.Souscripteur</class>
    <class>com.contrat.entities.Coassurance</class>
    <class>com.contrat.entities.Coassureurs</class>
    <class>com.contrat.entities.Contrat</class>
    <class>com.contrat.entities.Dossiersinistre</class>
    <class>com.contrat.entities.Producteur</class>
    <class>com.contrat.entities.Reassurance</class>
    <class>com.contrat.entities.Reassureurs</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
